<form action="/promos/{{promo._id}}/edit" method="POST" enctype="multipart/form-data" id="form-container">
  <label for="name">Nombre: </label>
  <input id="name" type="text" name="name" value="{{promo.name}}">

  <br><br>

  <label for="storeName">Tienda: </label>
  <input id="storeName" type="text" name="storeName" value="{{promo.store.name}}">

  <br><br>

  <label for="description">Descripcion: </label>
  <input id="description" type="text" name="description" value="{{promo.description}}">

  <br><br>

  <label for="expiration">Expira: </label>
  <input id="expiration" type="text" name="expiration" value="{{promo.expiration}}">

   <br><br>

   <label for="price">Precio</label>
  <input id="price" type="number" name="price" value="{{promo.price}}">

   <br><br>

   <label for="photo">Foto: </label>
   <input type="file" name="photo" id="photo" accept="image/*">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button type="submit">Editar</button>
</form>