<form action="/promos/new" method="POST" enctype="multipart/form-data" id="form-container">
  <label for="name">Nombre: </label>
  <input id="name" type="text" name="name">

  <br><br>

  <label for="storeName">Tienda: </label>
  <input id="storeName" type="text" name="storeName">

  <br><br>

  <label for="description">Descripcion: </label>
  <input id="description" type="text" name="description">

  <br><br>

  <label for="expiration">Expira: </label>
  <input id="expiration" type="text" name="expiration">

   <br><br>

   <label for="price">Precio</label>
  <input id="price" type="number" name="price">

   <br><br>

   <label for="photo">Foto</label>
   <input type="file" name="photo" id="photo" accept="image/*">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Crear</button>
</form>

{{#each promos as |promo|}}
    <div>
        <img src={{promo.imgUrl}}>
        <h2>{{promo.name}}</h2>
        <h3>{{promo.store.name}}</h3>
        <h3>{{promo.description}}</h3>
        <h3>{{promo.expiration}}</h3>
        <h3>{{promo.price}}</h3>
        <h3>{{promo.author.name}}</h3>
        <form action="/promos/{{promo._id}}/delete" method="POST">
            <button type="submit">Eliminar</button>
        </form>
        <form action="/promos/{{promo._id}}/edit" method="GET">
            <button type="submit">Editar</button>
        </form>
    </div>
{{/each}}
